body {
    
    font-family: 'Times New Roman', Times, serif;
}


h1 {
    color: rgb(7, 11, 78);
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Times New Roman', Times, serif;
}


h2 {
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Times New Roman', Times, serif;
}


p {
    padding-left: 70px;
    padding-right: 70px;
    font-family: 'Times New Roman', Times, serif;
}
